<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="author" content="Juan Valencia">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">

    <!--keywords-->
    <meta name="keywords" content="registro de usuario, fomulario de registro, crear cuenta, registro en linea">

    <!--minium responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--title-->
    <title>Empire Tecnologies Inc</title>

    {%load static%}
    <!--favicon-->
    <link rel="icon" type="image/x-icon" href="img/buildings-fill.svg">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
          crossorigin="anonymous">




    <!-- custom css -->

    <link rel="stylesheet" href="{% static 'css/register.css'%}">
</head>
<body class="text-center">
<!-- login form -->
<main class="form-signin w-100 m-auto">
    <form method="POST">

        {% csrf_token%}
    
        <img class="mb-4" src="{% static 'img/buildings-fill.svg' %}" alt="REGISTER" width="100">
        <h4 class="text-secondary">REGISTRO</h4>
        

        <div class="form-floating">
            <input type="text" class="form-control"
                   placeholder="ingrese su nombre" name= "username" id="username" required autofocus>
            <label for="floatingInput">Nombre</label>
        </div>


        <div class="form-floating">
            <input type="email" class="form-control" 
                   placeholder="ingrese su correo" name= "email" id="email" required>
            <label for="floatingEmail">Correo</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control" 
                   placeholder="ingrese su contraseña" name= "password" id="password" required>
        <label for="floatingPassword">Contraseña</label>
        </div>

        <button class="w-100 btn btn-lg btn-danger" type="submit">Registrarse</button>
        <div id="register">
            <a href="{% url 'login' %}">¿Ya tienes cuenta?</a>
        </div>
        <p class="mt-3 mb-3 text-muted">Todos los Derechos Reservados Empire Tecnologies Inc
           <!-- <%=displayDate()%> -->
        </p>

    </form>
</main>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

<!-- <%!
    public String displayDate() {
        SimpleDateFormat dateFormat = new SimpleDateFormat("YYYY");
        Date date = Calendar.getInstance().getTime();
        return dateFormat.format(date);
    }
%> -->

</body>
</html>